html {
  scroll-behavior: smooth;
}
.brad {
  border: none;
  border-radius: 5rem !important;
}
#svg-star {
  color: azure !important;
  font-size: 2rem;
  margin: 0, auto;
  position: relative;
}
#svg-star::after {
  content: "";
  width: 82px;
  height: 3px;
  color: white;
  font-size: 36px;
  background-color: white;
  bottom: 0;
  top: 27px;
  left: 4rem;
  position: absolute;
}
#svg-star::before {
  content: "";
  width: 82px;
  height: 3px;
  color: wheat;
  font-size: 36px;
  background-color: white;
  bottom: 0;
  top: 27px;
  right: 4rem !important;
  position: absolute;
  right: 120px;
}
#svg-star-black {
  color: rgba(1, 1, 1, 0.5) !important;
  font-size: 2rem;
  margin: 0, auto;
  position: relative;
}
#svg-star-black::after {
  content: "";
  width: 82px;
  height: 3px;
  color: rgba(1, 1, 1, 0.5);
  font-size: 36px;
  background-color: rgba(1, 1, 1, 0.5);
  bottom: 0;
  top: 27px;
  left: 4rem;
  position: absolute;
}
#svg-star-black::before {
  content: "";
  width: 82px;
  height: 3px;
  color: rgba(1, 1, 1, 0.5);
  font-size: 36px;
  background-color: rgba(1, 1, 1, 0.5);
  bottom: 0;
  top: 27px;
  right: 4rem !important;
  position: absolute;
  right: 120px;
}

.img-hover-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
  color: beige;
  font-size: 5rem;
}
.cont {
  position: relative;
  width: 100%;
  font-size: 12px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: aquamarine;
}

.cont:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 5em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* ---------------------------------------------------------------------------------- */
/* .fcont {
  background-color: white;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
}
.fcont-item,
.images,
.overlay {
  max-width: calc(95vw / 6);
  margin: 1px;
}
.images {
  max-width: calc(95vw / 6) !important;
}
.icont {
  display: flex;
  justify-content: center;
  max-width: inherit;
}

@media screen and (max-width: 1400px) {

  .fcont {
    background-color: white;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
  }
  .fcont-item,
  .images,
  .overlay {
    max-width: calc(95vw / 5);
    margin: 1px;
  }
  .images {
    max-width: calc(95vw / 5) !important;
  }
  .icont {
    display: flex;
    justify-content: center;
    max-width: inherit;
  }


}


@media screen and (max-width: 1200px) {

  .fcont {
    background-color: white;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
  }
  .fcont-item,
  .images,
  .overlay {
    max-width: calc(95vw / 4);
    margin: 1px;
  }
  .images {
    max-width: calc(95vw / 4) !important;
  }
  .icont {
    display: flex;
    justify-content: center;
    max-width: inherit;
  }


}
@media screen and (max-width: 992px) {

  .fcont {
    background-color: white;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
  }
  .fcont-item,
  .images,
  .overlay {
    max-width: calc(95vw / 3);
    margin: 1px;
  }
  .images {
    max-width: calc(95vw / 3) !important;
  }
  .icont {
    display: flex;
    justify-content: center;
    max-width: inherit;
  }


}@media screen and (max-width: 576px) {

  .fcont {
    background-color: white;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
  }
  .fcont-item,
  .images,
  .overlay {
    max-width: calc(95vw / 2)!important;
    margin: 1px;
  }
  .images {
    max-width: calc(95vw / 2) !important;
  }
  .icont {
    display: flex;
    justify-content: center;
    max-width: inherit;
  }


}
\ */

@media screen and (min-width:1200px) and (max-width:1400px){
  .asad{
    /* background: red !important; 
    background-color: red !important; */
min-width: 225px;

  }
}